<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GRID TEST</title>
    <style>
      body {
        overflow-x: auto;
      }
      table {
        display:block;
      }
      td{
        height: 1in;
        min-width: 1in;
        border: 1px solid Black;
        background-size: 1in 1in;
      }
      table {
        border-collapse: collapse;
        table-layout: fixed;
        z-index: 1;
        position: absolute;
      }


    </style>
  </head>
  <body>
    <script type="text/javascript">
      var SELECTED = null;
      var ws = new WebSocket("ws://localhost:8080");
      // GENERATE MAP
      var MAP = {{ MAP | safe }};

      var maxX = {{ MAP["size"][0] }};
      var maxY = {{ MAP["size"][1] }};

      var body    = document.getElementsByTagName("body")[0];
      var tbl     = document.createElement("table");
      var tblBody = document.createElement("tbody");

      for ( y=0; y<maxY; y++) {
        var row = document.createElement("tr");
        for (var x = 0; x < maxX; x++) {
          var cell = document.createElement("td");
          cell.setAttribute("id", x+","+y);
          cell.setAttribute("cid", "")
          row.appendChild(cell);
        }
        tblBody.appendChild(row);
      }
      tbl.appendChild(tblBody);
      body.appendChild(tbl);

      // For each prop
      for (var item in MAP.props){
        if (MAP.props.hasOwnProperty(item)){
          console.log(item);
          var prop = document.createElement("img")
          prop.setAttribute("src", "/static/"+MAP.props[item].image);
          prop.style["width"] = MAP.props[item].sizeX+"in";
          prop.style["height"] = MAP.props[item].sizeY+"in";
          console.log(MAP.props[item].x, MAP.props[item].y)
          positionalElement = document.getElementById(MAP.props[item].x+","+MAP.props[item].y);
          prop.style["position"] = "absolute";
          prop.style["z-index"] = "-1";
          prop.style["top"] = document.getElementById(MAP.props[item].x+","+MAP.props[item].y).offsetTop+"px";
          prop.style["left"] = document.getElementById(MAP.props[item].x+","+MAP.props[item].y).offsetLeft+"px";
          body.appendChild(prop);

        }
      }

      // Click event
      tbl.addEventListener("contextmenu", function(e){
        e.preventDefault();
        if (SELECTED != null && SELECTED != e.target.getAttribute("id"))
        {

          var origin = SELECTED.split(",");
          var end = e.target.getAttribute("id").split(",");

          origin[0] = parseInt(origin[0]);
          origin[1] = parseInt(origin[1]);

          end[0] = parseInt(end[0]);
          end[1] = parseInt(end[1]);

          var range = Math.floor(Math.sqrt(Math.pow(Math.abs(origin[0]-end[0]), 2) + Math.pow(Math.abs(origin[1]-end[1]), 2)) * 5);

          alert("Range: "+range+" feet");

        }
        else if (SELECTED == null && e.target.getAttribute("cid") == "")
        {

          e.target.setAttribute("cid", Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5));
          e.target.style ="background:url('/static/paladin.jpg'); background-size:1in 1in;"

        }
        return false;
      }, false);


      tbl.addEventListener("click", function(e){
        // event.preventDefault();
        var t = e.target;
        if ((t.getAttribute("id").split(",") != SELECTED) && (SELECTED == null) && (t.getAttribute("cid") != ""))
        { // if there is nothing selected and a grid cell is clicked, do this

          SELECTED = t.getAttribute("id"); // turn x,y into [x, y]
          t.style["border"] = ""; // remove border
          t.style["border"] = "2px solid yellow"; // set border to yellow

        }
        else if (t.getAttribute("id") == SELECTED)
        { // if the selected grid cell is clicked, do this

          document.getElementById(SELECTED).style["border"] = "1px solid black"; // set border to black
          SELECTED = null; // remove selected

        }
        else if (t.getAttribute("id") != SELECTED && SELECTED != null && t.getAttribute("cid") == "")
        { // if a grid cell other than the selected one is clicked

          document.getElementById(SELECTED).style["border"] = "1px solid black"; // set border to black

          var cid = document.getElementById(SELECTED).getAttribute("cid");
          t.setAttribute("cid", cid);
          t.style["background"] =  document.getElementById(SELECTED).style["background"];
          console.log(t.style["background"]);
          t.style["background-size"] = "1in 1in";

          var payload = {}; // initialize payload to be sent over websocket
          payload.x = t.getAttribute("id").split(",")[0]; // set x value of character
          payload.y = t.getAttribute("id").split(",")[1]; // set y value of character
          payload.avatar = document.getElementById(SELECTED).style["background"];
          payload.cid = document.getElementById(SELECTED).getAttribute("cid"); // get the id of character

          console.log(payload); // log payload

          document.getElementById(SELECTED).setAttribute("cid", ""); // set cid to none
          document.getElementById(SELECTED).style["background"] = ""; // set background


          ws.send(JSON.stringify(payload)); // send to server via websockets

          SELECTED = null;
        }
        console.log(t.getAttribute("cid"));
      });

      //Recieve websocket messages
      ws.onmessage = function(event){
        var move = JSON.parse(event.data); // Response

        var duplicateCells = document.querySelectorAll("[cid='"+move.cid+"']");

        for (var i=0; i<duplicateCells.length; i++)
        {
          console.log(duplicateCells[i].id);
          duplicateCells[i].style["background"] = "";
          duplicateCells[i].setAttribute("cid", "");
        }
        var move_coords = move.x+","+move.y;
        console.log(move_coords);
        document.getElementById(move_coords).style["background"] = move.avatar;
        document.getElementById(move_coords).setAttribute("cid", move.cid);
      }

    </script>
    </body>
</html>
