<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GRID TEST</title>
    <style>
      body {
        overflow-x: auto;
      }
      table {
        display:block;
      }
      td{
        height: 1in;
        min-width: 1in;
        border: 1px solid Black;
        background-size: 1in 1in;
      }
      td[clicked=y]{
        background-color: red;
      }
      table {
        border-collapse: collapse;
        table-layout: fixed;
      }

    </style>
  </head>
  <body>
    <script type="text/javascript">
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "/static/maps/map1.json", false);
      var map = JSON.parse(xmlhttp.responseText);

      var body    = document.getElementsByTagName("body")[0];
      var tbl     = document.createElement("table");
      var tblBody = document.createElement("tbody");

      for ( y=0; y<map.size[1]; y++) {
        var row = document.createElement("tr");
        for (var x = 0; x < map.size[2]; x++) {
          var cell = document.createElement("td");
          cell.setAttribute("id", x+","+y);
          row.appendChild(cell);
        }
        tblBody.appendChild(row);
      }
      tbl.appendChild(tblBody);
      body.appendChild(tbl);
    </script>
    <script type="text/javascript">
      // WEBSOCKET STUFF
      var ws = new WebSocket("ws://{{ host }}:{{ port }}");

      document.getElementsByTagName("table")[0].addEventListener("click",
      function(e){
        var t = e.target;
        console.log(t.getAttribute("id"));
        payload = {};
        payload.x = t.getAttribute("id").split(",")[0];
        payload.y = t.getAttribute("id").split(",")[1];
        ws.send(JSON.stringify(payload));
      });

      ws.onmessage = function(event){
        var move = JSON.parse(event.data);
        console.log(move);
        if (move.state == 1){ // if not initialized
          var uname = getCookie("uname");
          console.log(uname);
          ws.send(JSON.stringify({
            "uname": uname
          }));
        } else { // if initialized
          console.log(move.uid);
          var duplicateCells = document.querySelectorAll("[uid='"+move.uid+"']");
          for (i=0; i<duplicateCells.length; i++) {
            duplicateCells[i].style = "background:none;"
            duplicateCells[i].setAttribute("uid", "")
          }
          var expected_id = move.x+","+move.y; // ID of the cell on the grid, x,y coordinates
          console.log(expected_id); // print the x,y of the place that moving to
          var location = document.getElementById(expected_id);
          location.setAttribute("uid", move.uid)
          location.style = "background:url(/static/imgs/"+move.avatar+");background-size:1in 1in";
        }
      }
      function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
      }
    </script>
  </body>
</html>
